﻿<%@ Master Language="C#" AutoEventWireup="true" CodeFile="SiteMain.master.cs" Inherits="MasterPages_SiteMain" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head runat="server">
<title></title>
<asp:ContentPlaceHolder id="head" runat="server">
    </asp:ContentPlaceHolder>
<link href="~/styles/style.css" rel="stylesheet" type="text/css" />
<link href="~/styles/s3slider.css" rel="stylesheet" type="text/css" />
<link href="~/styles/rtl.css" rel="stylesheet" type="text/css" />
<link href="~/styles/mainstyle.css" rel="stylesheet" type="text/css" />
<link href="~/styles/jqueryslidemenu.css" rel="stylesheet" type="text/css" />
<link href="~/styles/fancy.css" rel="stylesheet" type="text/css" />
<link href="~/styles/colorbox.css" rel="stylesheet" type="text/css" />
<link href="~/styles/other.css" rel="stylesheet" type="text/css" />
<link href="~/styles/image_rollover.css" rel="stylesheet" type="text/css" />

<script src="/js/contact-form.js" type="text/javascript"></script>
<script src="/js/Tuffy_500-Tuffy_700-Tuffy_italic_500.font.js" type="text/javascript"></script>
<script src="/js/cufon-yui.js" type="text/javascript"></script>
<script src="/js/DD_belatedPNG.js" type="text/javascript"></script>
<script src="/js/fade.js" type="text/javascript"></script>
<script src="/js/jqFancyTransitions.js" type="text/javascript"></script>
<script src="/js/jquery-1.4.2.min.js" type="text/javascript"></script>
<script src="/js/jquery.colorbox.js" type="text/javascript"></script>
<script src="/js/jquery.cycle.all.min.js" type="text/javascript"></script>
<script src="/js/jqueryslidemenu.js" type="text/javascript"></script>
<script src="/js/s3Slider.js" type="text/javascript"></script>
<!-- dropdown menu --> 
<script type="text/javascript"> 
//Specify full URL to down and right arrow images (23 is padding-right to add to top level LIs with drop downs):
var arrowimages={down:['downarrowclass', 'images/down.gif', 38], right:['rightarrowclass', 'images/right.gif']}
</script> 
<!--<script type="text/javascript" src="js/jqueryslidemenu.js"></script> 
<!-- Header slideshow --> 
<!--<script type="text/javascript" src="js/jqFancyTransitions.js"></script> 
<script type="text/javascript" src="js/s3Slider.js"></script> --> 
<script type="text/javascript"> 
var $ = jQuery.noConflict();
    $(document).ready(function() {
        $('#s3slider').s3Slider({
            timeOut:6000        });
    });
</script> 
<!-- cycle jquery --> 
<script type="text/javascript" src="~/js/jquery.cycle.all.min.js"></script> 
<script type="text/javascript"> 
	$('.boxslideshow').cycle({
	timeout: 6000,  // milliseconds between slide transitions (0 to disable auto advance)
	fx:      'fade', // choose your transition type, ex: fade, scrollUp, shuffle, etc...            
	pause:   0,	  // true to enable "pause on hover"
	pauseOnPagerHover: 0 // true to pause when hovering over pager link
	});
</script> 
<!-- colorbox jquery --> 
<script type="text/javascript" src="~/js/jquery.colorbox.js"></script> 
<script type="text/javascript"> 
	$(document).ready(function(){
		//Examples of how to assign the ColorBox event to elements
		$(".image").colorbox();
		$(".video").colorbox({iframe:true, innerWidth:425, innerHeight:344});
	});
</script> 
<!-- cufont style --> 
<script type="text/javascript" src="~/js/cufon-yui.js"></script> 
<script type="text/javascript" src="~/js/Tuffy_500-Tuffy_700-Tuffy_italic_500.font.js"></script> 
<script type="text/javascript"> 
	 Cufon.replace('h1') ('h1 a') ('h2') ('h3') ('h4') ('h5') ('h6') ('.desc') ('.largetext')
</script> 
<!--[if IE 6]>
<script src="~/js/DD_belatedPNG.js"></script>
<script>
  DD_belatedPNG.fix('img');
</script>
<![endif]--> 

<style type="text/css">
.auto-style1 {
	font-size: xx-large;
	color: #007B7B;
}
</style>
</head>

<body>

<form id="form1" runat="server">
	<div id="wrapper">
		<div id="container">
			<div id="top">
				<div id="logoimage">
					<a href="http://www.johnsonswoodworkers.com">
					<img runat="server" alt="" height="100" src="/images/logo.png" /></a>
				</div>
				
				<img alt="FREE Estimate" src="/images/Free Estimate 2.jpg" height="130" width="150" /></div>
			<!-- end #top -->
			<div id="topnavigation">
				<div id="topnav">
					<div id="myslidemenu" class="jqueryslidemenu">
						<ul>
							<li class="page_item page-item-6">
							<a href="/" title="">
							Home</a> </li>
							<li class="page_item page-item-6">
							<a href="about.aspx" title="">About</a></li>
							<li class="page_item page-item-9">
							<a href="gallery.aspx" title="Contact">
							Gallery</a></li>
							<li class="page_item page-item-7">
							<a href="kitchen-cabinets.aspx" title="Kitchen Cabinets">
							Kitchens</a></li>
							<li class="page_item page-item-9">
							<a href="entertainment-centers.aspx" title="Custom Entertainment Centers ">
							Entertainment Centers</a></li>
							<li class="page_item page-item-9">
							<a href="bathrooms.aspx" title="Custom Bathroom Cabinets">Bathrooms</a></li>
						</ul>
					</div>
				</div>
				<!-- end #topnav -->
				
				</div>
			<!-- end #topnavigation -->
			<div id="header">
				<div id="slideshow">
					<div id="s3slider" style="left: 0px; top: 0px">
						<ul id="s3sliderContent" style="left: 0px; top: -2px">
							<li class="s3sliderImage">
                            <%--add images for slideshow--%>
							<img runat="server" alt="" height="340" src="/images/kitchen-cabinet-slide.jpg" width="940" />
							<div>
								<h1>Kitchen Cabinets</h1>
								 Considering a Kitchen remodel?
                                 Contact Johnsons Woodworkers for
                                 a FREE Estimate Today! <br />
								<br />
								Read About Our <a class="but" href="kitchen-cabinets.aspx">Riverside Custom Kitchen Cabinets</a>
							</div>
							</li>
							<li class="s3sliderImage">
                            <%--add images for slideshow--%>
							<img runat="server" alt="" height="340" src="/images/entertainment-centers-slide.jpg" width="940" />
							<div>
								<h1>Entertainment Centers</h1>
								 Have us build the Custom entertainment center
								 we can build a custom entertainment center that
								 is built to last and impress family and friends!  <br />
								<br />
								<a class="but" href="entertainment-centers/">
								Read more</a> </div>
							</li>
							<li class="s3sliderImage">
                            <%--add images for slideshow--%>
							<img runat="server" alt="" height="340" src="/images/custom-woodworking-slide.jpg" width="940" />
							<div>
								<h1>Custom Woodworking </h1>
								Are you looking for custom woodworking?
                                If you can dream it, we can build it!
								</div>
							</li>
							<li class="clear s3sliderImage"></li>
						</ul>
					</div>
				</div>
				<!-- end slideshow --></div>
			<!-- end #header -->
			<div id="content">
				<div id="content-left">
					<div id="maintext">
						<p class="auto-style1">35 Years of Quality Woodworking</p>
						<p>Johnsons Woodworkers is a family owned and operated business. As licensed contractors Johnsons Woodworkers can turn your dream 
						kitchen, bathroom and entertainment center into a reality. 
						Located in Riverside, California we provide Free 
						Estimates within the Inland Empire and Orange County.</p>
						<div class="entry">
							<asp:ContentPlaceHolder ID="MainContent" runat="server">
            </asp:ContentPlaceHolder>
						</div>
						<br style="clear: left" />
					</div>
					<!-- end #maintext --></div>
				<!-- end #content-left -->
				<div id="content-right">
					<div id="sideright">
						<div class="news-container">
							<div class="box">
								<ul>
									<li id="ts_newswidget-3" class="widget widget_ts_newswidget">
									<p style="color:#007b7b; font-size:medium">Contact Us</p>
									</li>
									<li><br />
									<strong></strong></a></li>
								</ul>
							</div>
						</div>
					</div>
					<!-- end #sideright --></div>
				<!-- end #content-right -->
				<div class="clr">
				</div>
				<!-- end clear float --></div>
			<!-- end #content -->
			<div id="footer">
				<div id="footer-text">
					Copyright © 2010 Johnsons Woodworkers
					. All rights reserved.
                    <br />
                    <p>10051 Limonite Avenue, Riverside, CA 92509</p>
                     </div>
				<!-- end #footer-text --></div>
			<!-- end #footer --></div>
		<!-- end #container --></div>
	<!-- end #wrapper -->
</form>

</body>

</html>
