﻿body{background-color:#ebeceb; }
a, a:visited{color:#df7034;}
h1, h2, h3, h4, h5, h6, h1 a, h1 a:visited, h2 a, h2 a:visited, h3 a, h3 a:visited, h4 a, h4 a:visited, h5 a, h5 a:visited, h6 a, h6 a:visited, span.tblue,
span.tblue a, span.tblue a:visited, span.tblue2
{color:#2d84b6 !important}
#searchresult .post h3 a{color:#2d84b6 !important;}
#top{border-top:solid 2px #2d84b6;}
code{border-left:solid 5px #2d84b6;}
#topnav ul li.current_page_item a, #topnav-full ul li.current_page_item a{border-top:solid 3px #2d84b6;}
#topnav ul li.current_page_item ul li a, #topnav ul li ul li.current_page_item a, #topnav-full ul li.current_page_item ul li a, #topnav-full ul li ul li.current_page_item a{border-top:0px !important;}
#sideright ul li.recentcomments a, #sideright ul li.recentcomments a:visited,
.boxslideshow a, .boxslideshow a:visited
{color:#df7034 !important;}

#header-inner h1.pagetitle{color:#007b7b !important;}
.pagination a{color:#656253; }
.pagination .current{color:#df7034;}
.s3sliderImage div {background-color:#000;}