﻿
/* BEGIN TYPOGRAPHY & COLORS */
.thread-alt {background-color: #f8f8f8;}
.thread-even {background-color: white;}
.depth-1 {border: 1px solid #ddd;}
.even, .alt {border-left: 1px solid #ddd;}
small {
	font-family: Arial, Helvetica, Sans-Serif;
	font-size: 0.9em;
	line-height: 1.5em;
	}
.sticky {
	background: #f7f7f7;
	padding: 0 10px 10px;
	}
.sticky h2 {padding-top: 10px;}

.commentlist li {
	font-weight: bold;
}

.commentlist li .avatar { 
	float: right;
	border: 1px solid #eee;
	padding: 2px;
	background: #fff;
	}

.commentlist cite, .commentlist cite a {
	font-weight: bold;
	font-style: normal;
	font-size: 1.1em;
	}

.commentlist p {
	font-weight: normal;
	line-height: 1.5em;
	text-transform: none;
	}

#commentform p {
	font-family: Tahoma, Arial, Verdana;
	}

.commentmetadata {
	font-weight: normal;
	}

acronym, abbr, span.caps
{
	font-size: 0.9em;
	letter-spacing: .07em;
	}


/* ENF OF TYPOGRAPHY & COLORS */

/*** GLOBAL  ***/
html,body{height:100%; min-height:100%}
body {
	font-family:Arial, Tahoma, Verdana;
	font-size:12px;
	margin:0 auto;
	padding:0;
	color:#656253;
	line-height:20px;
	background-color:#ebeceb;
}
* {
	margin:0;
	padding:0;
}
*:focus {
	outline:none; /* removes ugly dotted border but may make template more unsuable, up to you
					 if you want to keep it! */
}
.clr{clear:both}
form{margin:0; padding:0;}
hr {
	border: 0;
	color: #f2f2f2;
	background-color: #f2f2f2;
	height: 1px;
	margin:5px 0px 5px 0px;
	padding:0px;
	width:100%;
}
*+html hr{margin:0px 0px 5px 0px;}

hr.dotted{background-image:url(http://www.johnsonswoodworkers.com/images/dotted-horizontal.gif) !important; border:0px; background-repeat:repeat-x; margin:30px 0px}
*+html hr.dotted{margin:10px 0px 30px 0px;}

/*** END OF GLOBAL  ***/

/*** DEFAULT ELEMENT STYLES ***/
/* heading */
h1, h2{
	margin-bottom: 12px;
	font-family: Arial, Verdana;
	font-weight: normal;
	color: #006666
}
h3, h4, h5, h6{margin-bottom:8px; font-family:Arial, Verdana; font-weight:normal; color:#2d84b6;  letter-spacing:-1px}
h1 {font-size:28px; line-height:30px;}
h2 {font-size:22px; line-height:24px;}
h3 {font-size:18px; line-height:20px;}
h4 {font-size:14px; line-height:15px;}
h5, h6 {font-size:13px; line-height:15px;}
/* links */
a, a:visited {color:#df7034; text-decoration:none;}
a:hover{text-decoration:underline;}
a img{border:none}
.imgleft{float:left; margin-right:15px; margin-top:5px;}
.imgborder{padding:0px; margin:5px 0px;}
.imgright{float:right; margin-left:15px;}
.imgcenter{ margin:5px 0px 10px 0px; display:block; text-align:center}
/* lists, blockquotes and paragraphs */
p, ul, ol, blockquote {
	font-size:12px;
	margin-bottom:20px;
}
ul, ol {
	margin:10px 0 20px 20px;
}
li ol,
li ul
{
	list-style:square;
	margin-bottom:0;
	margin-top:0;
}
li ol {list-style:decimal;}
	
blockquote {
	font-size:12px;
	margin:20px 0 20px 0px;
	color:#6b6b6b;
	padding:5px 20px 10px 25px;
	line-height:20px;
	background-image:url(http://www.johnsonswoodworkers.com/images/quote.gif); background-repeat:no-repeat;
	border:0px;
	font-weight:bold;
	font-style:italic
	}

blockquote p{margin-bottom:10px;}

/* code */
code {
	font-family:Arial, Verdana;
	letter-spacing:1px;
	margin:25px 0 25px 0px;
	display:block;
	font-size:11px;
	padding:15px 10px;
	background-color:#f6f6f6;
}

/*** END OF DEFAULT ELEMENT STYLES ***/

/*** CONTAINER ***/
#wrapper{width:100%;}
#container{width:940px; margin:0 auto; padding:0px 30px; background-color:#fff}

/* TOP */
#top{height:100px; border-top:solid 2px #2d84b6; padding:0px 0px 0px 0px}
#logo{padding-top:18px; width:690px; float:left;}
#logo h1, #logo h1 a, #logo h1 a:visited{font-size:48px; color:#2d84b6; margin-bottom:0px;}
#logo h1 a:hover{text-decoration:none;}
#logo .t1{color:#656253;}
#logo .desc{color:#7c7a6b; font-size:14px;}
#logoimage{ width:690px; float:left; height:100px;}


#topnavigation{background-image:url(http://www.johnsonswoodworkers.com/images/dotted-horizontal.gif); background-repeat:repeat-x; background-position:0px 1px; border-bottom:solid 1px #7c7a6b; height:34px;}
#topnav{float:left; width:690px;}
#topnav-full{float:left; width:940px;}
#topnav ul, #topnav-full ul{list-style-type:none; margin:0px; padding:0px 0px 0px 0px;}
#topnav ul li, #topnav-full ul li{list-style-type:none; margin:0px 0px 0px 0px; padding:0px 0px 0px 0px;color:#b9b9b9; background-image:url(images/menu-separator.gif); background-repeat:no-repeat; background-position:0px 12px}
#topnav ul li li, #topnav-full ul li li{padding:0px;}
#topnav ul li.home, #topnav-full ul li.home{background-image:none;}
#topnav ul li.current_page_item{}
#topnav ul li a, #topnav ul li a:visited, #topnav-full ul li a, #topnav-full ul li a:visited{color:#000;}
#topnav ul li a:hover, #topnav-full ul li a:hover{color:#9fa1a2; text-decoration:none}

#topsearch-menu{width:250px; float:left; padding:70px 0px 0px 0px;}
#topsearch{width:250px; float:left; padding:7px 0px 0px 0px;}
#topsearch form p, #topsearch-menu form p{margin:0px;}
*+html #topsearch {padding:5px 0px 0px 0px;}/* ie 7 only */
* html #topsearch {padding:5px 0px 0px 0px;}/* ie 6 only */
.inputbox{border:solid 1px #c4c3ba; padding:2px 2px 2px 2px; margin-right:3px; vertical-align:middle; width:170px}
.but{border:solid 1px #363637; font-family:Arial; font-size:11px; background-color:#000; color:#fff; padding:0px 8px 2px 8px; height:22px; cursor:pointer; vertical-align:middle; text-transform:uppercase}
a.but, a.but:hover{text-decoration:none; color:#fff !important; padding:6px 10px !important}
*+html .but{padding:2px 3px 1px 3px !important;}/* ie 7 only */
* html .but{padding:2px 3px 1px 3px !important;}/* ie 6 only */

/* HEADER */
#header{height:350px; clear:left; margin:10px 0px 0px 0px; border-bottom:solid 1px #7c7a6b; position:relative}
#header h1, #header h1 a, #header h1 a:visited{color:#fff !important;}
#header-inner{background-image:url(http://www.johnsonswoodworkers.com/images/dotted-horizontal.gif); background-repeat:repeat-x; background-position:bottom; padding:35px 0px 20px 0px}
#header-inner h1.pagetitle{margin:0px; color:#444133; font-size:36px;}
#slideshow ul{margin:0px; padding:0px; list-style-type:none;}
#slideshow ul li{margin:0px; padding:0px; list-style-type:none;}

/* CONTENT */
#content{margin:20px 0px; background-image:url(http://www.johnsonswoodworkers.com/images/bg-content.gif); background-repeat:repeat-y; width:940px}
#content-full{margin:20px 0px}
#content-left{width:650px; float:left;}
#content-right{width:290px; float:left;}
#maintext{padding:0px 20px 20px 0px;}
.post{ background-image:url(http://www.johnsonswoodworkers.com/images/dotted-horizontal.gif); background-repeat:repeat-x; background-position:bottom; margin-bottom:30px; padding-bottom:10px}
.post h2 a, .post h2 a:visited{
	color: #004848;
	font-size: 22px;
}
.post h2 a:hover{text-decoration:none;}
#searchresult .post{background-image:none; margin-bottom:0px; padding:0px}
#searchresult .post h3{margin-bottom:4px;}
#searchresult .post h3 a{color:#2d84b6 !important;}
#searchresult .post h3 a:hover{text-decoration:none;}
.entry{padding:12px 0px 0px 0px;}
ul.inline{list-style-type:none; padding:0px; margin:20px 0px 20px 0px}
ul.inline li{list-style-type:none; padding:0px; margin:0px 20px 0px 0px; display:inline; float:left; width:196px}
ul.inline li.nomargin{margin:0px;}
ul.inline h2{margin:10px 0px 5px 0px;}
ul.checklist{list-style-type:none; padding:0px; margin:0px}
ul.checklist li{list-style-type:none; padding:0px 0px 0px 20px; margin:0px; background-image:url(http://www.johnsonswoodworkers.com/images/checklist.gif); background-repeat:no-repeat; background-position:0px 5px;}
* html ul.checklist li{ padding:0px 0px 0px 30px !important;}/* ie 6 only */
#sideright{padding:0px 0px 0px 30px}
#sideright h2{margin-bottom:8px;}
#sideright ul{list-style-type:none; padding:0px 0px 0px 0px; margin:0px 0px 0px 0px;}
#sideright ul ul li { background-image:url(http://www.johnsonswoodworkers.com/images/arrowlist.gif); background-repeat:no-repeat; background-position:0px 11px; padding:5px 0px 5px 20px}
#sideright ul.newslist li{list-style-type:none; padding:5px 0px 10px 0px; margin:0px 0px 5px 0px;  background-image:url(http://www.johnsonswoodworkers.com/images/dotted-horizontal.gif); 
background-repeat:repeat-x; background-position:bottom; line-height:20px}
#sideright ul.newslist li.noline{background-image:none; padding-bottom:0px; margin-bottom:0px;}
#sideright ul li a, #sideright ul li a:visited{color:#656253;}
.box{ background-image:url(http://www.johnsonswoodworkers.com/images/dotted-horizontal.gif); background-repeat:repeat-x; background-position:bottom;padding:0px 0px 18px 0px; margin:0px 0px 18px 0px;}
.boxnoline{background-image:none; padding:0px 0px 18px 0px; margin:0px 0px 18px 0px;}
.news-container .box{ background-image:none; padding:0px; margin:0px;}
blockquote.quote{margin:10px 0px 0px 0px; padding:0px 0px 0px 30px; background:none; border:0px; background-image:url(http://www.johnsonswoodworkers.com/images/quote.gif); background-repeat:no-repeat;}
.small{color:#999; font-size:11px;}
span.tblue, span.tblue a, span.tblue a:visited{font-weight:bold;}
.pagination a{padding:0px 5px;}
.pagination .current{font-weight:bold; padding:0px 5px}
span.pages{padding:0px 5px 0px 0px;}
.smalltext{font-size:11px;}
.boxslideshow{width:100%}
a.more-link{display:block; padding:20px 0px 0px 0px;}
.largetext{font-size:18px; font-style:italic; line-height:24px}
/* no sidebar */
.two-col1{float:left; width:48%;}
.two-col2{float:left; width:48%; margin-left:4%}
.three-col1{float:left; width:30%;}
.three-col2{float:left; width:31%; margin-left:4%}
.three-col3{float:left; width:31%; margin-left:4%}
/* portfolio */
#gallery-category{padding:0px 0px 0px 0px; margin-bottom:10px; float:left; width:100%}
#main-gallery{width:100%; margin-bottom:0px; float:left}
#main-gallery h4{font-size:16px; line-height:14px; margin:10px 0px 5px 0px;}
#main-gallery ul{list-style-type:none; margin:0px; padding:0px;}
#main-gallery ul li{list-style-type:none; margin:0px; padding:0px 0px 20px 0px; float:left; width:220px; margin-right:20px;  background-image:none; line-height:20px;}
#main-gallery ul li.nomargin{margin-right:0px;}
#main-gallery ul li img{margin-bottom:5px; display:block}
#main-gallery ul li a, #main-gallery ul li a:visited{color:#666;}
.portfoliobg { width:220px; height:120px; float:left; background:url(http://www.johnsonswoodworkers.com/images/hover-opacity.png) no-repeat top left; margin-bottom:10px}
span.tblue, span.tblue a, span.tblue a:visited{color:#2d84b6 ; font-weight:bold;}
#gallery-category h2{float:left;}
ul#navcat{list-style-type:none; margin:0px; padding:0px 0px 0px 0px;}
ul#navcat ul{margin:0px; padding:0px 0px 0px 0px; float:left; line-height:24px}
ul#navcat li li{list-style-type:none; margin:0px; padding:5px 10px; float:left}
ul#navcat li a, ul#navcat li a:visited{color:#656253;}
#bottombox{background-color:#e9e9e9; padding:20px 30px; margin-bottom:20px; clear:left;}
.col-l{float:left; width:700px}
.col-r{float:left; padding:40px 0px 0px 50px}


/* FOOTER */
#footer{padding:10px 0px 40px 0px; width:940px; clear:both; background-image:url(http://www.johnsonswoodworkers.com/images/double-line.gif); background-repeat:repeat-x}
#footer-text{font-size:11px; color:#999689 }




/* Begin Images */
p img {
	padding: 0;
	max-width: 100%;
	}

/*	Using 'class="alignright"' on an image will (who would've
	thought?!) align the image to the right. And using 'class="centered',
	will of course center the image. This is much better than using
	align="center", being much more futureproof (and valid) */

img.centered {
	display: block;
	margin-left: auto;
	margin-right: auto;
	}

img.alignright {
	padding: 0px;
	margin: 5px 0px 0px 15px;
	display: inline;
	}

img.alignleft {
	padding: 0px;
	margin: 5px 15px 0px 0;
	display: inline;
	}
	
img.aligncenter {
	display: block;
	padding: 0px;
	margin:0 0 10px 0;
	}
.alignright {float: right;}
.alignleft {float: left;}
/* End Images */




/* Begin Form Elements */
#searchform {
	margin: 10px auto;
	padding: 5px 3px;
	text-align: center;
	}
	
#topsearch #searchform, #topsearch-menu #searchform {margin:0px; padding:0px; text-align:left;}
#topsearch #searchform p, #topsearch-menu #searchform p{margin:0px; padding:0px; text-align:left;}
#sideright #searchform{margin:0px; padding:0px;}
	
.entry form { /* This is mainly for password protected posts, makes them look better. */
	text-align:center;
	}

select {
	width: 130px;
	}

#commentform input {
	width: 170px;
	padding:2px;
	margin: 5px 0px 1px 0;
	}

#commentform {
	margin: 5px 10px 0 0;
	}
#commentform textarea {
	width: 100%;
	padding: 2px;
	}
#respond:after {
		content: "."; 
	    display: block; 
	    height: 0; 
	    clear: both; 
	    visibility: hidden;
	}
#commentform #submit {
	margin:0;
	float: right;
	padding-bottom:10px
	}
/* End Form Elements */



/* Begin Comments*/
.alt {
	margin: 0;
	padding: 10px;
	}

.commentlist {
	padding: 0;
	text-align: justify;
	margin:0px;
	}

.commentlist li {
	margin: 15px 0 20px;
	padding: 5px 5px 10px 10px;
	list-style: none;

	}
.commentlist li ul li { 
	margin-right: -5px;
	margin-left: 10px;
}

.commentlist p {
	margin: 10px 10px 10px 0;
}
.children { padding: 0; }

#commentform p {
	margin: 5px 0;
	}

.nocomments {
	text-align: center;
	margin: 0;
	padding: 0;
	}

.commentmetadata {
	margin: 0;
	display: block;
	}
/* End Comments */




/* Begin Calendar */
#wp-calendar {
	empty-cells: show;
	margin:0;
	width:100%;
	border:solid 1px #ccc;
	background-color:#f6f6f6
	}

#wp-calendar #next a {
	padding-right: 10px;
	text-align: right;
	}

#wp-calendar #prev a {
	padding-left: 10px;
	text-align: left;
	}

#wp-calendar a {
	display: block;
	text-decoration:underline !important;
	}

#wp-calendar caption {
	text-align: center;
	width: 100%;
	}

#wp-calendar td {
	padding: 3px 0;
	text-align: center;
	}

#wp-calendar td.pad:hover { /* Doesn't work in IE */
	/*background-color: #fff;*/ }
	
#wp-calendar #prev a, #wp-calendar #next a {
	font-size: 9pt;
	}

#wp-calendar a {
	text-decoration: none;
	}

#wp-calendar caption {
	text-align: center;
	margin-bottom:10px;
	font-weight:bold
	}

#wp-calendar th {
	background-color:#CCCCCC
	}
	
#today{font-weight:bold;}
/* End Calendar */



/* Begin Various Tags & Classes */
acronym, abbr, span.caps {
	cursor: help;
	}

acronym, abbr {
	border-bottom: 1px dashed #999;
	}

blockquote cite {
	margin: 5px 0 0;
	display: block;
	}

.center {
	text-align: center;
	}

.hidden {
	display: none;
	}
	
.screen-reader-text {
     position: absolute;
     left: -1000em;
}


a img {
	border: none;
	}

.navigation {
	display: block;
	text-align: center;
	margin-top: 10px;
	margin-bottom:20px;
	}
/* End Various Tags & Classes*/



/* Captions */
.aligncenter,
div.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption {
	border:1px solid #ddd;
	text-align: center;
	background-color: #f3f3f3;
	padding-top:4px;
	margin-bottom: 10px;
/*	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
*/}

.wp-caption img {
	margin: 0 auto;
	padding: 0;
	border: 0 none;
}

.wp-caption p.wp-caption-text {
	font-size: 11px;
	line-height: 17px;
	padding: 0 4px 5px;
	margin: 0;
}
/* End captions */

/* BREADCRUMB */
#breadcrumbs{padding:0px 0px 20px 0px; clear:both}

/* WP125 STYLE */
/* Styles for one-column display */
#wp125{ clear:both}
#wp125adwrap_1c { width:100%;}
#wp125adwrap_1c .wp125ad { margin-bottom:10px; border:0px;}

/* Styles for two-column display */
#wp125adwrap_2c { width:100%;}
#wp125adwrap_2c .odd { width:125px; float:left !important; padding:0px 0px 0px 0px !important; border:0px !important; margin-right:6px;}
#wp125adwrap_2c .even{border:0px;}
* html #wp125adwrap_2c .odd, *+html #wp125adwrap_2c .odd{margin-bottom:6px;}/* ie only */
* html #wp125adwrap_2c .even, *+html #wp125adwrap_2c .even{margin-bottom:6px;}/* ie only */

/* Easy Contact Plugin Styling */
div.formcontainer{
	clear: both;
	overflow: hidden;
	width: 100%;
}

div.formcontainer span.required {
	color: #FF0000;
}
div.formcontainer p.error,
div.formcontainer p.important,
div.formcontainer p.information,
div.formcontainer p.success {
	line-height: 250%;
	width: 95%;
	font-size:11px;
	color:#ff0000;
}
div.formcontainer form.contact-form {
	clear: both;
	float: none;
}
div.formcontainer form.contact-form fieldset {
	color: #777;
	margin: 0.5em 0 1.5em 0;
}
div.formcontainer form.contact-form fieldset legend {
	text-transform:capitalize;
}
div.formcontainer form.contact-form fieldset div.form-label {
	display: block;
	float:none;
	line-height:150%;
	margin: 0.5em 0 0 0;
	padding:0;
	text-align:left;
	width:100%;
}
div.formcontainer form.contact-form fieldset div.form-label label,
div.formcontainer form.contact-form fieldset div.form-option label {
	cursor: pointer;
	line-height:100%;
}
div.formcontainer form.contact-form fieldset div.form-input,
div.formcontainer form.contact-form fieldset div.form-textarea {
	display: block;
	float:none;
	margin: 0.2em 0 0 0;
}
div.formcontainer form.contact-form fieldset div.form-input input,
div.formcontainer form.contact-form fieldset div.form-textarea textarea {
	border:solid 1px #c4c3ba;
}
div.formcontainer form.contact-form fieldset div.form-input input,
div.formcontainer form.contact-form fieldset div.form-textarea textarea {
	padding: 0.3em;
}
div.formcontainer form.contact-form fieldset div.form-textarea textarea {
	overflow: auto;
}
div.formcontainer form.contact-form fieldset div.form-input input.error, div.formcontainer form.contact-form fieldset div.form-textarea textarea.error {
	background-color: #FBF4E2;
}
div.formcontainer form.contact-form fieldset div.form-input input.optional {
	margin-bottom: 0.2em;
}
div.formcontainer form.contact-form fieldset div.form-option,
div.formcontainer form.contact-form fieldset div.form-submit {
	display: block;
	float:none;
	margin: 1em 0 0 0;
	width:100%;
}
div.formcontainer form.contact-form fieldset div.form-submit input {
background-color:#000; border:solid 1px #363637; color:#fff !important; padding:0px 10px 2px 10px; width:120px; height: 28px; line-height:24px; margin-top:5px; cursor:pointer; font-family:Arial; text-transform:uppercase; font-size:11px;}
div.formcontainer fieldset { border:0px solid #ddd; padding:0px;}
div.formcontainer fieldset legend { padding:0px; font-weight:bold; padding:0px; color:#777; padding-left:1px }
* html div.formcontainer fieldset legend, *+html div.formcontainer legend{margin-left:-6px;}

/* FLICKR */
#flickrrss img{border:solid 0px;}
#flickrrss a{padding:0px; margin:2px 4px; display:inline-block}